


h1 { color: #de1a16;
	text-align: center; 
	text-decoration: underline;
  }

h2 { 
      color:  #24b0b3;
      text-decoration: underline;
      font-family: Courier new
      font-style: 20px;
   }

p  {font-family: georgia;
     color:#fefffc;}

   body {background-color: black; }


#0f0f0f
